/* Remove all default margin/padding */
* {
  margin: 0px;
  padding: 0px;
}

/* Intro Section CSS */
#intro-image {
  background-image: url("./Assets/intro-banner.jpg");
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.intro-text {
  margin: 0px;
  padding: 0px;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-text h1 {
  margin: -25px;
  font-family: "Trebuchet MS";
  font-size: 200px;
  font-weight: 1000;
  letter-spacing: -15px;
  opacity: 0.05;
}

.intro-text h3 {
  font-family: "Niramit", sans-serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -2px;
}

/* About Me Section CSS */
.about-title {
  padding-bottom: 10px;
}

.about-image {
  background-image: url("./Assets/IMG_0308.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  align: center;
  padding: 0px;
  height: 500px;
}


/* Photography Passion Section CSS */
#passion-title {
  padding-bottom: 10px;
}

.flickr-images {
  display: inline-block;
}

#flickr-images {
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  padding: 0px 0px 10px 5px;
}
#flickr-images:hover  {
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
  cursor: pointer;
}


/* Photography Modal Section CSS */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: auto;
  height: 90%;
  max-width: auto;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  transition: 0.3s;
}

.close-button:hover,
.close-button:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}


/* Social Media/Contact Section CSS */
.social-media {
  padding: 20px 0px 30px 0px;
  background-color: #f0f5f5;
}

.social-media div h1 {
  margin-bottom: 10px;
}

ul.footer-images {
  list-style-type: none;
  text-align: center;
  margin: 0px;
}

.footer-images li {
  padding: 10px 10px 0px 10px;
  display: inline-block;
}

.background-gray {
  background-color: #f0f5f5;
}


/* Copyright Section CSS */
.copyright {
  background-color: #f0f5f5;
  padding: 20px 0px;
  font-size: 10px;
}


/* Miscellaneous CSS */
.line-break-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

hr {
  height: 1px;
  width: 300px;
  border-top: 5px solid #ccc;
  margin: 0px auto;
  text-align: center;
}
