* {
  margin: 0px;
  padding: 0px;
}

#intro-image {
  background-image: url("./Assets/intro-banner.jpg");
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.intro-text {
  margin: 0px;
  padding: 0px;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-text h1 {
  margin: -25px;
  font-family: "Trebuchet MS";
  font-size: 200px;
  font-weight: 1000;
  letter-spacing: -15px;
  opacity: 0.05;
}

.intro-text h3 {
  font-family: "Niramit", sans-serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -2px;
}

/* div.about-me {
  background-color: red;
  width: 50%;
  height: 200px;
  padding:20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
} */

.flickr-images {
  display: inline-block;
}

.flickr-images img {
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  padding: 0px 0px 10px 5px;
}
.flickr-images img:hover  {
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.social-media {
  padding: 20px 0px 30px 0px;
  background-color: #f0f5f5;
}

.social-media div h1 {
  margin-bottom: 10px;
}

ul.footer-images {
  list-style-type: none;
  text-align: center;
  margin: 0px;
}

.footer-images li {
  padding: 0px 10px;
  display: inline-block;
}

.line-break {
  background-color: #f0f5f5;
}

hr {
  height: 1px;
  width: 300px;
  border-top: 5px solid #ccc;
  margin: 0px auto;
  text-align: center;
}

.copyright {
  background-color: #f0f5f5;
  padding: 20px 0px;
  font-size: 10px;
}
