::selection {
  background-color: #60d9eb;
  color: #fff;
}
::-moz-selection {
  background-color: #60d9eb;
  color: #fff;
}

.color-theme {
	color: #60d9eb;
}

.owl-dots .owl-dot.active,
.bg-theme {
	background: #60d9eb;
}

.theme-border {
	border-color: #60d9eb;
}

.btn.btn-theme {
    background: #60d9eb;
    border-color: #60d9eb;
    color: #fff;
}